.demo__container--justify-space-between {
    justify-content: space-between;
}

.demo__container--align-center {
    align-items: center;
}

.demo--flex-wrap {
    max-width: 60rem;
}

.demo__container--flex-wrap {
    flex-wrap: wrap-reverse;
    max-width: 60rem;
}

.demo__container--flex-vertical {
    flex-direction: column-reverse;
}

.demo__block--align-self {
    align-self: baseline;
}

.demo__block--order-1 {
    order: 1;
}

.demo__block--order-2 {
    order: 2;
}

.demo__block--order-3 {
    order: 3;
}

.demo__block--order-4 {
    order: 4;
}

.demo__block--flex-grow-1 {
    flex-grow: 1;
}

.demo__block--flex-grow-2 {
    flex-grow: 2;
}

.demo__block--flex-grow-3 {
    flex-grow: 3;
}

@media screen and (max-width: 700px) {
    .hidden-mobile {
        display: none;
    }
}
