.demo__container--block-container {
    display: block;
    min-height: 15rem;
}

.demo__container--flex-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 15rem;
}

.demo__container--justify-space-between {
    justify-content: space-between;
}

.demo__container--align-center {
    align-items: center;
}

.demo--flex-wrap {
    max-width: 60rem;
}

.demo__container--flex-wrap {
    flex-wrap: wrap-reverse;
    max-width: 60rem;
}

.demo__container--flex-vertical {
    flex-direction: column-reverse;
}

.demo__block {
    padding: 1.5rem 3rem;
}

.demo__block--align-self {
    align-self: baseline;
}

.demo__block--order-1 {
    order: 1;
}

.demo__block--order-2 {
    order: 2;
}

.demo__block--order-3 {
    order: 3;
}

.demo__block--order-4 {
    order: 4;
}

.demo__block--blue {
    background-color: var(--blue);
    color: var(--white);
}

.demo__block--green {
    background-color: var(--green);
}

.demo__block--yellow {
    background-color: var(--yellow);
}

.demo__block--orange {
    background-color: var(--orange);
}

.demo__block--red {
    background-color: var(--red);
    color: var(--white);
}

.demo__block--flex-grow-1 {
    flex-grow: 1;
}

.demo__block--flex-grow-2 {
    flex-grow: 2;
}

.demo__block--flex-grow-3 {
    flex-grow: 3;
}

.demo__block--purple {
    background-color: var(--purple);
    color: var(--white);
}

@media screen and (max-width: 700px) {
    .hidden-mobile {
        display: none;
    }
}
